<div class="text-center jumbotron">
  <h1>Welcome to my App!</h1>
  <p>
    <%= link_to "Sign in", "#", class: "btn btn-info" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary" %>
  </p>
</div>