<div class="text-center jumbotron">
  <h1>Welcome to my App!</h1>
  <% if user_signed_in? %>
    <p>Do something</p>
  <% else %>
    <p>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-info" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
    </p>
  <%end %>
</div>